<div class="authers-dashboard">
  <div nz-row>
    <h2 nz-col nzSpan="12">Authors</h2>
    <div nz-col nzSpan="12" style="text-align: right;">
      <button nz-button nzType="primary" (click)="addModal=true">Add author</button>
    </div>
  </div>
  <div nz-row style="justify-content: center;" *ngIf="!autherload">
    <div nz-col  nzXl="6">
      <nz-card style="width:  240px;" class="addSpaceToCard" [nzActions]="[actionSetting]">
        <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzAvatar]="{ size: 'large' }">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
        </nz-skeleton>
      </nz-card>
      <ng-template #actionSetting>
        <i nz-icon nzType="setting"></i>
      </ng-template>
    </div>
    <div nz-col  nzXl="6">
      <nz-card style="width:  240px;" class="addSpaceToCard" [nzActions]="[actionSetting]">
        <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzAvatar]="{ size: 'large' }">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
        </nz-skeleton>
      </nz-card>
      <ng-template #actionSetting>
        <i nz-icon nzType="setting"></i>
      </ng-template>
    </div>
    <div nz-col  nzXl="6">
      <nz-card style="width:  240px;" class="addSpaceToCard" [nzActions]="[actionSetting]">
        <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzAvatar]="{ size: 'large' }">
          <nz-card-meta nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
        </nz-skeleton>
      </nz-card>
      <ng-template #actionSetting>
        <i nz-icon nzType="setting"></i>
      </ng-template>
    </div>

  </div>
  <div nz-row style="justify-content: center;" *ngIf="autherload">
    <div nz-col  nzXl="6" *ngFor="let auther of authers; let i = index">
      <nz-card style="width: 240px;height:  415px" class="addSpaceToCard" [nzCover]="coverTemplate" [nzActions]="[actionSetting]">
        <nz-card-meta [nzTitle]="toTitleCase(auther.name)" [nzDescription]="auther.info.slice(0, 60) + (auther.info.length > 60 ? '...':'')"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <div style="width:  240px;height:  240px;">
          <img style="width: 100%;height: 100%;object-fit: cover;" [alt]="auther.name" [src]="auther.imgUrl" />
        </div>
      </ng-template>
      <ng-template #actionSetting>
        <button (click)="arrangeUpdate(auther.id)" class="edit-button">
          <i nz-icon nzType="setting"></i>
        </button>
      </ng-template>
    </div>
  </div>

  <nz-modal [(nzVisible)]="updateModal || addModal" [nzTitle]="addModal? 'Add new auther':'Update auther'" (nzOnCancel)="updateModal=false;addModal=false">
    <ng-container *nzModalContent>
      <form nz-form #autherForm="ngForm">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" name="name" required ngModel [(ngModel)]="updateModalName">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Info</nz-form-label>
          <nz-form-control>
            <input nz-input name="info" type="text" ngModel [(ngModel)]="updateModalInfo">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Image</nz-form-label>
          <nz-form-control>
            <button nz-button (click)="autherImg.click()"><i nz-icon nzType="upload"></i>{{uploadButtonText}}</button>
          </nz-form-control>
          <input #autherImg nz-input type="file" hidden (change)="onFileLoad($event.target.files[0])">
        </nz-form-item>
        <nz-form-item style="text-align: right;display: block;">
          <button nz-button nzType="primary" (click)="modifyAuther(autherForm)">{{addModal? 'Add author': 'Update author'}}</button>
        </nz-form-item>
      </form>
    </ng-container>
    <div *nzModalFooter></div>
  </nz-modal>
</div>
