<form>
  <input nz-input placeholder="Search" class="search-input" #search (input)="onInputSearch(search.value)" />
  <button nz-button nzType="primary" class="search-btn" (click)="searchCommand()">Search</button>
</form>
<div style="clear: both;"></div>
<div *ngIf="!booksLoad" style="height: 300px;line-height: 300px;text-align: center;">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" *ngIf="booksLoad"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th>Name</th>
      <th [nzSortFn]="sortPrice">price</th>
      <th *ngIf="!mobScreen">Author</th>
      <th *ngIf="!mobScreen">Department</th>
      <th [nzSortFn]="sortBuysTime">Buys Num</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of rowSelectionTable.data">
      <td [nzChecked]="setOfCheckedId.has(book.id)" (nzCheckedChange)="onItemChecked(book.id, $event)"></td>
      <td><a [routerLink]="['/books', book.slug]" class="dash-link">{{book.name}}</a></td>
      <td>{{ book.price }}</td>
      <td *ngIf="!mobScreen"><a class="dash-link" [routerLink]="['/authors', book.auther.slug]">{{ book.auther.name }}</a></td>
      <td *ngIf="!mobScreen"><a class="dash-link" [routerLink]="['/departments', book.department.name ]">{{ book.department.name }}</a></td>
      <td>{{ book.buysNum }}</td>
    </tr>
  </tbody>
  <div class="tabel-operations" *ngIf="listOfData.length > 0">
    <nz-space nzSize="small">
      <nz-space-item>
        <button nz-button nzType="primary" [nzLoading]="loadUpdateButton" (click)="openEditOptions()">Update Selected</button>
      </nz-space-item>
      <nz-space-item>
        <button nz-button nzType="default" nzDanger [nzLoading]="loadDeleteButton" (click)="showDeleteConfirm()">Delete Selected</button>
      </nz-space-item>
    </nz-space>
  </div>
</nz-table>
<nz-divider></nz-divider>
<div nz-col [nzLg]="{ span: 12, offset: 6 }">
  <h2>Add New Book</h2>
  <app-modifybook (bookAdded)="addingBook($event)"></app-modifybook>
</div>

<nz-modal [(nzVisible)]="editShow" nzTitle="Edit Book" (nzOnCancel)="editShow=false">
  <ng-container *nzModalContent>
    <app-modifybook [bookToEdit]="{books: listOfData, id: setOfCheckedId}"  (updatingBook)="updateBook($event)"></app-modifybook>
  </ng-container>
  <div *nzModalFooter></div>
</nz-modal>
