.tabel-operations {
  position: absolute;
  bottom: -50px;
}
.search-input {
  display: inline-block;
  width: 40%;
  margin-bottom: 10px;
}
.search-btn {
  float: right;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .tabel-operations {
    bottom: -84px;
  }
  .search-input {
    width: 100%;
  }
}
