.search-input {
  display: inline-block;
  width: 40%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.search-btn {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .search-input {
    width: 100%;
  }
}
