<div class="home">
  <app-mycarousel></app-mycarousel>
  <nz-divider *ngIf="!mobileScreen"></nz-divider>
  <h2>For You</h2>
  <div class="slides-contain" [style]="'width:'+ ((187 * slidesToShow) + (10 * (slidesToShow-1))) + 'px'">
    <i nz-icon nzType="left" class="arrows" [class.not-allowed]="featslide>=0" nzTheme="outline" (click)="featSlideAction(false)" style="left: 20px;"></i>
    <i nz-icon nzType="right" class="arrows" [class.not-allowed]="featslide <= -featSlideWidth+10" nzTheme="outline" (click)="featSlideAction(true)" style="right: 20px;"></i>
    <div class="screen-slider" [style]="'transform: translate('+featslide+'px);'">
      <div class="slide-cell" *ngFor="let feat of featured">
        <div class="card">
          <div class="card-img">
            <img [routerLink]="['/books', feat.slug]" [src]="feat.imgUrl" alt="">
          </div>
          <h4 class="card-title" nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="feat.name" [routerLink]="['/books', feat.slug]">{{feat.name.slice(0, 20) | titlecase}}<span *ngIf="feat.name.length > 20">...</span></h4>
          <span class="card-text">{{feat.info.slice(0, 40)}}<span *ngIf="feat.info.length > 40">...</span></span>
          <span class="price">{{feat.price | currency}}</span>
          <div>
            <button *ngIf="!cartConfirm(feat.id)" nz-button nzType="primary" (click)="addToCart(feat.id)">Add To Cart<i nz-icon nzType="shopping-cart" nzTheme="outline"></i></button>
            <button *ngIf="cartConfirm(feat.id)" nz-button nzType="primary" nzDanger (click)="removeFromCart(feat.id)">Remove From Cart<i nz-icon nzType="shopping-cart" nzTheme="outline"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div *ngFor="let depart of departedBooks; let i = index">
    <h2>{{departments[i].name}}</h2>
    <div class="slides-contain" [style]="'width:'+ ((187 * slidesToShow) + (10 * (slidesToShow-1))) + 'px'">
      <i nz-icon nzType="left" class="arrows" [class.not-allowed]="departsSlide[i]>=0" nzTheme="outline" (click)="departSlideAction(false, i)" style="left: 20px;"></i>
      <i nz-icon nzType="right" class="arrows" [class.not-allowed]="departsSlide[i] <= -departsSlideWidth[i]+10" nzTheme="outline" (click)="departSlideAction(true, i)" style="right: 20px;"></i>
      <div class="screen-slider" [style]="'transform: translate('+departsSlide[i]+'px);'">
        <div class="slide-cell" *ngFor="let book of depart">
          <div class="card">
            <div class="card-img">
              <img [src]="book.imgUrl" alt="" [routerLink]="['/books', book.slug]">
            </div>
            <h4 class="card-title" nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="book.name"  [routerLink]="['/books', book.slug]">{{book.name.slice(0, 20) | titlecase}}<span *ngIf="book.name.length > 20">...</span></h4>
            <span class="card-text">{{book.info.slice(0, 40)}}<span *ngIf="book.info.length > 40">...</span></span>
            <span class="price">{{book.price | currency}}</span>
            <div>
              <button *ngIf="!cartConfirm(book.id)" nz-button nzType="primary" (click)="addToCart(book.id)">Add To Cart<i nz-icon nzType="shopping-cart" nzTheme="outline"></i></button>
              <button *ngIf="cartConfirm(book.id)" nz-button nzType="primary" nzDanger (click)="removeFromCart(book.id)">Remove From Cart<i nz-icon nzType="shopping-cart" nzTheme="outline"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-divider *ngIf="i !== departedBooks.length-1"></nz-divider>
  </div>
</div>


