.book-info {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 5px;
  border-radius: 7px;

  .img-contain {
    width: 45%;
    img {
      width: 310px;
    }
  }
  .info-contain {
    width: 55%;
    padding: 10px;

    p {
      color: #6d6c6c;
      font-size: 1rem;
    }

    .auther {
      font-style: italic;
      font-size: 1rem;
      display: block;
    }
    .price {
      font-size: 1.3rem;
      color: #ffffff;
      background-color: #ffc996;
      display: inline-block;
      padding: 5px;
      border-radius: 9px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .book-info {
    flex-direction: column;
    .img-contain {
      width: 100%;
  }
  .info-contain {
    width: 100%;
  }
}
}

.cross-btn {
  position: absolute;
  top: 4px;
  right: 138px;
  color: #868e96;
  z-index: 2002;
  width: 35px;
  height: 35px;
  font-size: 1.4rem;
  line-height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 899px) {
  .cross-btn {
    top: 12px;
    right: 163px;
  }
}
@media screen and (max-width: 640px) {
  .cross-btn {
    top: 12px;
    right: 140px;
  }
}
