<div *ngIf="!booksLoaded" style="height: 300px;line-height: 300px;text-align: center;">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div *ngIf="booksLoaded && buyedBooks.length === 0" style="display: flex;align-items: center;flex-flow: column;">
  <h2>No buyed books yet</h2>
  <div style="width: 100%;height: 300px;margin-bottom: 20px;">
    <img style="width: 100%;height: 100%;" src="assets/notfound.svg" alt="">
  </div>
  <a routerLink="/">Go Home</a>
</div>
<div class="visit" *ngIf="booksLoaded">
  <app-bookcard *ngFor="let book of buyedBooks" [book]="book"></app-bookcard>
</div>
<div style="margin-top: 10px; display: flex;justify-content: center;" *ngIf="booksLoaded">
  <nz-pagination [nzPageIndex]="1" [nzTotal]="totalBooks" (nzPageIndexChange)="pageChange($event)"></nz-pagination>
</div>
